[Unit]
Description=discord-bot
After=network.target

[Service]
Type=simple
User=discord-bot
Group=discord-bot
WorkingDirectory=/home/discord-bot/
ExecStart=/home/discord-bot/bin/discord-bot
Restart=always

[Install]
WantedBy=default.target
